# Dependencies
.pnpm
node_modules


# Build outputs
.turbo
.expo
.next

# OS-specific
.DS_Store

# Ruby / Bundler
vendor/bundle
vendor/cache
vendor/gems
vendor/ruby

# Environment variables
**/.env
.env.*
!.env.example

# Specifically for the mobile app's .env
mobile/.env

# Backup and temporary files
backup_old_mobile/
package-lock.json
mock-import-locations.js
